* {
    margin: 0;
    padding: 0;
}

.body {
    font-family: sans-serif;
}


/********************* header section start here  *********************/

#header {
    background-color: #F0FFF0;
}


/* navigation menu start here  */

#header nav.sticky {
    background-color: #21B573;
}

#header nav.sticky .navbar-nav .nav-item .nav-link {
    color: white;
    font-weight: 600;
}

#header nav.sticky .navbar-nav .nav-item .nav-link:hover {
    color: #FBD15C;
}

#header .navbar .logo img {
    width: 150px;
}

#header .navbar .navbar-nav .nav-item .nav-link {
    color: #000;
    font-size: 17px;
    padding: 6px 18px;
    transition: 0.5s;
    text-transform: capitalize;
}

#header .navbar .navbar-nav .nav-item .nav-link:hover {
    color: #21B573;
}

#header .navbar .navbar-nav .sin-up-btn .nav-link {
    background-color: #21B573;
    border-radius: 50px;
}

#header .navbar .navbar-nav .sin-up-btn .nav-link {
    color: white;
}

#header .navbar .navbar-nav .sin-up-btn .nav-link:hover {
    color: white;
}


/* navigation menu ends here  */


/* header home page section start here  */

#header .content-left span {
    color: #F8936B;
}

#header .content-left h1 span {
    color: #000;
}

#header .content-left h1 {
    font-weight: bold;
    color: #000;
}

#header .content-left .text {
    font-weight: bold;
    color: #21B573;
}

#header .content-left .btn-style {
    border-radius: 50px;
    padding: 6px 25px;
    background-color: #21B573;
    color: white;
    margin-bottom: 50px;
}


/* header home page section ends here  */


/********************** header section ends here  **********************/

section {
    padding-top: 50px;
    padding-bottom: 50px;
}


/* books section start here  */

#books .card {
    width: 220px;
    text-align: center;
    padding-top: 35px;
    box-sizing: border-box;
    background-color: #F0FFF0;
    cursor: pointer;
    border: none;
    transition: all ease 0.5s;
    margin-top: 15px;
}

#books .card:hover {
    box-shadow: 5px 5px 20px gainsboro;
}

#books .card .img-fluid {
    width: 80px;
}

#books .card img {
    width: 100px;
    margin: auto;
}

#books .card h4 {
    color: #413960;
    font-weight: bold;
}

#books .card1 {
    background-color: white;
    box-shadow: 5px 5px 20px gainsboro;
}


/********************** books section ends here  **********************/


/**************** online-courses section start here  ****************/

#onlie-courses .card {
    margin-top: 50px;
    box-shadow: 6px 6px 19px gainsboro;
    border-radius: 12px;
}

#onlie-courses .card img {
    width: 88%;
    margin-left: 20px;
    /* padding-top: 15px; */
}

#onlie-courses .card .card-body span .img-width {
    width: 20px;
}

#onlie-courses .card span {
    font-size: 14px;
}

#onlie-courses .card .btn-style {
    border-radius: 50px;
    padding: 5px 20px;
    background-color: #21B573;
    color: white;
    margin-bottom: 20px;
}

#onlie-courses .card h4 {
    color: #413960;
}


/**************** online-courses section ends here  ****************/

#footer {
    background-color: #282531;
    color: white;
    padding-bottom: 10px;
}

#footer h5 {
    font-weight: bold;
}

#footer ul {
    list-style: none;
}

#footer ul li a {
    color: white;
}

#footer ul li a:hover {
    color: #21B573;
}


/* scroll button start here  */

.to-top a {
    padding: 5px 10px;
    background: #21B573;
    display: inline-block;
    font-size: 25px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    border-radius: 5px 5px 0px 0px;
    color: white;
    transition: 0.4s;
    box-shadow: 0px 1px 5px gainsboro;
}

.to-top a:hover {
    background-color: #fff;
    color: #413960;
    background-color: #FBD15C;
}